<!doctype html>
<html lang="uk">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Serhii Ivanenko, SI-Dev">
<!-- CSRF Token -->
<meta name="csrf-token" content="JBXHjqTYkMlKXJunjKDW8govVijhwdkOv8lNw2FO">

    <meta name="description" content="Сергій Іваненко - Резюме">
    <title>SI-Dev - Резюме</title>

            <link
            rel="alternate"
            hreflang="uk" href="https://si-dev.com/uk/resume"
        >
            <link
            rel="alternate"
            hreflang="ru" href="https://si-dev.com/ru/resume"
        >

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="https://si-dev.com/common/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://si-dev.com/css/app.css" type="text/css">
<link rel="stylesheet" href="https://si-dev.com/css/site.css">


</head>
<body>
    <div id="preloader"></div>

    <nav class="navbar navbar-expand-lg fixed-top">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarsMain" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <a class="navbar-brand" href="https://si-dev.com">
    <h2>Сергій Іваненко</h2>
    <p>common.blog_resume</p>
  </a>

  <div class="collapse navbar-collapse custom-scroll" id="navbarsMain">
    <ul class="navbar-nav" id="mainMenu">
                      <li class="nav-item">
                    <a class="nav-link" href="https://si-dev.com/blog">
                        Блог
                    </a>
                </li>
                              <li class="nav-item">
                    <a class="nav-link" href="https://si-dev.com/about">
                        Про мене
                    </a>
                </li>
                              <li class="nav-item">
                    <a class="nav-link" href="https://si-dev.com/resume">
                        Резюме
                    </a>
                </li>
                              <li class="nav-item">
                    <a class="nav-link" href="https://si-dev.com/contact">
                        Контакти
                    </a>
                </li>
                  </ul>


  </div>


  <div class="lang-dropdown d-lg-none">
    <button class="btn btn-link" type="button" id="dropdownLangButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="text-uppercase">uk</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownLangButton">
              <a rel="alternate" hreflang="uk" href="https://si-dev.com/uk/resume"
            class="active-lang" >
          <span class="text-uppercase">uk</span> - Українська
        </a>
              <a rel="alternate" hreflang="ru" href="https://si-dev.com/ru/resume"
          >
          <span class="text-uppercase">ru</span> - Русский
        </a>
          </div>
  </div>



  <div class="lang-panel d-none d-lg-flex">
          <a rel="alternate" hreflang="uk" href="https://si-dev.com/uk/resume"
          class="active-lang" >
        uk
      </a>
          <a rel="alternate" hreflang="ru" href="https://si-dev.com/ru/resume"
        >
        ru
      </a>
      </div>
</nav>


        <main class="main-container-outer">
        <div class="main-container-inner">
            <div class="content-wrapper">
                <h2 class="content-title">Резюме</h2>
                <div>Готовий розглянути пропозицію вакансії PHP Software Engineer на наступних умовах:<ul><li>- чистота і якість коду для вашої команди не просто слова</li><li>- перш за все проектування, і тільки потім написання коду</li><li>- кінцева мета - не просто додатки, що працюють, а добротні додатки, які легко і швидко розиширюються</li><li>- адекватна матеріальна винагорода</li></ul><br></div>
                <p><strong>Технології, яким надаю перевагу</strong>: Laravel (PHP)</p>
            </div>

            <div class="content-wrapper">
                <div class="container-fluid">
                    <h3>Персональна інформація</h3>
                    <div class="row">
                        <div class="col-sm-6 col-xl-4">
                            <img src="/storage/images/serhii_ivanenko.jpg" class="img-fluid" alt="Serhii Ivanenko">
                        </div>
                        <div class="col-sm-6 col-xl-8">
                            <ul class="overview-list">
                                <li><b>Ім&#039;я</b><span>Сергій Іваненко</span></li>
                                <li><b>Місцезнаходження</b><span>Київ, Україна</span></li>
                                <li><b>Дата народження</b><span>15.02.1975</span></li>
                                <li><b>Email</b><span>serhii.ivanenko@gmail.com</span></li>
                                <li><b>Skype</b><span>ivanenko.serhii</span></li>
                                <li><b>Website</b><span>si-dev.com</span></li>
                                <li>
                                    <b>Соціальні мережі</b>
                                    <span class="social-links">
                                        <a href="https://www.linkedin.com/in/serhii-ivanenko-6184027a/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href="https://github.com/Serhii75" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                        <a href="https://codepen.io/Serhii75/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
                                        <a href="https://www.freecodecamp.org/serhii75" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
                                        <a href="https://www.facebook.com/profile.php?id=100011409330668" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-wrapper skills">
                <div class="container-fluid">
                    <h3>Ключові навички</h3>
                    <p><small>*Щоб переглянути конкретні проекти відвідайте сторінку <a href="https://si-dev.com/uk/portfolio">Портфоліо</a></small></p>
                                            <h4>Мови програмування та технології</h4>
                        <div class="skills-list">
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/lF4hqOwsXoI1Vpe4mQurFJ5mqfXLwP9d4yyPHxW0.png" alt="">
                                    <span>PHP</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/WaaqD4FchVKOZDsoH5mNzsVxdvify48zZ4pWV1mS.png" alt="">
                                    <span>Laravel</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/ADOYL1xSd2b6yoim4h5b32Bs2peQHXATO4H6Nif5.png" alt="">
                                    <span>MySQL</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/8SHkhlWwWMJJYljqJG1TUfm2roDa6wrzynd4OU68.png" alt="">
                                    <span>PostgreSQL</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/yLeBhbdzF4aL1NdZQgd8tOLVGPuOBILUHINyKRWJ.png" alt="">
                                    <span>JavaScript</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/acW8grPmyCKfXzzwyuf6txnGfP4NgpQ44oYtFCGy.png" alt="">
                                    <span>Vue</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/IFUrLOeja5uDvjJUCev0mrv0iCjF9mqc3fAw90PQ.png" alt="">
                                    <span>React</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/wxyf6uiZhZHqfI4GGBfzN2zIpKChdLhUCyWcaQqv.png" alt="">
                                    <span>jQuery</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/so4Sy8yJhkF8xrafRiC5TBklsAXwQl23hKseVjDt.png" alt="">
                                    <span>HTML</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/yg3Fh3XRiRbxAQmaLdnrJMGEW79RcICV703beufq.png" alt="">
                                    <span>CSS</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/doYaXPaRu19ofoLW0K8xsvyOGS9g8tytukPQbQ39.png" alt="">
                                    <span>Sass</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/YACpSpAxgzTqaCjw0XNJUXQubeHM9MUP7iYd8hko.png" alt="">
                                    <span>Bootstrap</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/ArVMGm02XmNcuF1B3qBoSg36uvIwtWL6GWXCjKki.png" alt="">
                                    <span>CodeIgniter</span>
                                </div>
                                                    </div>
                                            <h4>Інструменти розробки</h4>
                        <div class="skills-list">
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/6ELsC8io4XrvnU98N42gYwPsHVY5egLo6I3mHc40.png" alt="">
                                    <span>Composer</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/xrTrPITMkLcJN00T5W5Ku4EFzRarSINj36LscZuw.png" alt="">
                                    <span>NPM</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/4pcEWX3lVjuEwXft8iFODi1ZhbCG94LNNf4jQDU7.png" alt="">
                                    <span>Git</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/3bZ6VCiMMtnsc5gSq23VsiOYwiWg3mycqKBJBMva.png" alt="">
                                    <span>Vagrant</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/VFnGqz98C21bkIqrnQEoQoutSR02nXI7pL2LJu1S.png" alt="">
                                    <span>phpStorm</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/4FrovqnbAkP0e6cWsLfZb7LwJWnSHO73ZFd9fN3y.png" alt="">
                                    <span>Postman</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/ZaHUEcoEaEPHl9oFhEAwmfYmYEJt7kaOFnHtZ2YP.png" alt="">
                                    <span>Webpack</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/re94hov8aABsdukGjYoOgRNYCyo3dxE4rqP7rwr1.png" alt="">
                                    <span>Gulp</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/wLW5PFH0ezwiGUgzpdVXIKOpB2zD2bM8fnTFrBwd.png" alt="">
                                    <span>Cloud9</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/hc5Wg7vhKJFY2RWYjzLCdE38DoEEuAuA0iKNaZK9.png" alt="">
                                    <span>Sublime</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/PiQDPKkc1qJaC886fURmMxlJBcABVKz4VncsVFBi.png" alt="">
                                    <span>Atom</span>
                                </div>
                                                    </div>
                                            <h4>Операційні системи</h4>
                        <div class="skills-list">
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/r1vS28oSEqRmvLJ0d3s7W0CN4bwQ0wX9ZMTxi69h.png" alt="">
                                    <span>Ubuntu</span>
                                </div>
                                                            <div class="skill-item">
                                    <img src="/storage/images/skills/iKxSYLnFwTnnykvODJH6NWHotYEGJC3dKxMzqthJ.png" alt="">
                                    <span>Windows</span>
                                </div>
                                                    </div>
                                    </div>
            </div>

            <div class="content-wrapper">
                <div class="container-fluid">
                    <h3>Досвід роботи</h3>
                    <p><small>Наведений тільки той досвід роботи, що має бесзпосереднє відношення до програмування</small></p>
                    <div class="timeline">
                                                    <div class="timeline-container">
                                <div class="timeline-content">
                                    <p class="timeline-date">December, 2019 - До цього часу</p>
                                    <h5>PHP Software Engineer
                                                                                    <br>Tallium
                                                                            </h5>
                                    <ul>
<li>підтримка проектів та розробка нового функціоналу (Laravel, MySQL, PostgreSQL)</li>
<li>розробка API (Laravel)</li>
</ul>
                                </div>
                            </div>
                                                    <div class="timeline-container">
                                <div class="timeline-content">
                                    <p class="timeline-date">August, 2019 - December, 2019</p>
                                    <h5>PHP Software Engineer
                                                                                    <br>Sedna Software
                                                                            </h5>
                                    <ul>
<li>проектування додатків (Laravel) та баз даних (PostgreSQL)</li>
<li>підтримка існуючих додатків, розробка нового функціоналу (Laravel, CodeIgniter, PostgreSQL, MySQL)</li>
<li>розробка і впровадження внутрішньокорпоративних стандартів, шаблонів і документації (форматування і якості коду, формати опису завдань)</li>
</ul>
                                </div>
                            </div>
                                                    <div class="timeline-container">
                                <div class="timeline-content">
                                    <p class="timeline-date">April, 2019 - August, 2019</p>
                                    <h5>PHP Software Engineer
                                                                                    <br>Data Pro Software Solutions
                                                                            </h5>
                                    <ul>
<li>підтримка проектів (розробка функціоналу, баг-фікси, і т.і.)</li>
<li>розробка API</li>
</ul>
                                </div>
                            </div>
                                                    <div class="timeline-container">
                                <div class="timeline-content">
                                    <p class="timeline-date">September, 2018 - April, 2019</p>
                                    <h5>PHP Developer
                                                                                    <br>Dev Rent
                                                                            </h5>
                                    <p>- підтримка робочіх проектів, рефакторинг</p>
<p>- розробка проектів</p>
<p>- розробка API для мобільних додатків</p>
                                </div>
                            </div>
                                                    <div class="timeline-container">
                                <div class="timeline-content">
                                    <p class="timeline-date">March, 2017 - September, 2018</p>
                                    <h5>Фрілансер
                                                                            </h5>
                                    <p>- Розробляю&nbsp;власні&nbsp;проекти. Технології: Laravel, Bootstrap,&nbsp;JavaScript, React</p>
<p>- Працюю&nbsp;з приватними замовленнями. Технології:&nbsp;Laravel, Bootstrap,&nbsp;JavaScript, jQuery, React</p>
<p>- Реалізував різні проекти в рамках навчання у PHP-Academy та freeCodeCamp. Використовував наступні&nbsp;технології: HTML5, CSS3, JavaScript, jQuery, React, PHP, Laravel.&nbsp;</p>
<p>&nbsp;</p>
                                </div>
                            </div>
                                                    <div class="timeline-container">
                                <div class="timeline-content">
                                    <p class="timeline-date">October, 2007 - October, 2014</p>
                                    <h5>Економіст відділу міжнародного дилінгу, програміст
                                                                                    <br>ПАО Інтегралбанк
                                                                            </h5>
                                    <p>- Розробив кілька сотень торгівельних скриптів на мовах&nbsp;&nbsp;<a href="">mql4/5</a></p>

<p>- Укладав угоди&nbsp;на міжнродному ринку у межах встановлених лімітів</p>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>

            <div class="content-wrapper education">
                <div class="container-fluid">
                    <h3>Освіта</h3>
                    <div class="row">
                                                    <div class="col-xl-4">
                                <h4>Онлайн</h4>
                                <div class="timeline">
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">May, 2017 - September, 2017</p>
                                                <h5>Udacity, Маунтін Вью</h5>
                                                <p>Object Oriented JS, Asynchronous JS Requests</p>
                                            </div>
                                        </div>
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">April, 2017 - До цього часу</p>
                                                <h5>freeCodeCamp, San Francisco</h5>
                                                <p>FullStack Developer (JS, HTML, CSS, Bootstrap, React, Node, MongoDB, etc.)</p>
                                            </div>
                                        </div>
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">March, 2017 - September, 2017</p>
                                                <h5>Codecademy, Нью-Йорк</h5>
                                                <p>Frontend Developer (HTML, CSS, Sass, Bootstrap, JS, React)</p>
                                            </div>
                                        </div>
                                                                    </div>
                            </div>
                                                    <div class="col-xl-4">
                                <h4>Курси</h4>
                                <div class="timeline">
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">March, 2017 - January, 2018</p>
                                                <h5>PHP-Academy, Київ</h5>
                                                <p>FullStack Developer (JS, React, Redux, PHP, MySQL, etc.)</p>
                                            </div>
                                        </div>
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">April, 2012 - August, 2012</p>
                                                <h5>Developers Club, Київ</h5>
                                                <p>BootCamp (C/C++)</p>
                                            </div>
                                        </div>
                                                                    </div>
                            </div>
                                                    <div class="col-xl-4">
                                <h4>Університети</h4>
                                <div class="timeline">
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">August, 2005 - October, 2007</p>
                                                <h5>Магістратура Київського Національного Економічного Універститету</h5>
                                                <p>Управління міжнародними інвестиціями</p>
                                            </div>
                                        </div>
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">September, 2002 - September, 2003</p>
                                                <h5>Державний Університет Чіба, Японія</h5>
                                                <p>Перекладач японської мови, стажер</p>
                                            </div>
                                        </div>
                                                                            <div class="timeline-container">
                                            <div class="timeline-content">
                                                <p class="timeline-date">August, 1998 - June, 2004</p>
                                                <h5>Київський Національний Лінгвістичний Університет</h5>
                                                <p>Перекладач японської та англійської мов</p>
                                            </div>
                                        </div>
                                                                    </div>
                            </div>
                                            </div>
                </div>
            </div>

            <div class="content-wrapper">
                <div class="container-fluid">
                    <h3>Додаткова інформація</h3>
                    <ul>
                        <li>English: intermediate</li>
                        <li>Посвідчення водія: так</li>
                        <li>Захоплення: футбол, гітара, музика</li>
                    </ul>
                    <p class="mt-3">Щоб дізнатися більше, будь ласка, відвідайте сторінку <a href="https://si-dev.com/uk/about">Про мене</a></p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
    <p class="copyright float-left">&copy; 2017-2020</p>
    <div class="social-links float-right">
        <a href="https://www.linkedin.com/in/serhii-ivanenko-6184027a/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/Serhii75" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://codepen.io/Serhii75/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
        <a href="https://www.freecodecamp.org/serhii75" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
    </div>
</footer>

    <script src="https://si-dev.com/common/js/jquery-3.2.1.min.js"></script>
<script src="https://si-dev.com/js/app.js"></script>
<script src="https://si-dev.com/js/site.js"></script>


</body>
</html>